@tailwind base;
@tailwind components;
@tailwind utilities;

.header-link {
  @apply text-gray-500 font-semibold inline-block py-3 px-2 border-b-2 border-transparent hover:text-purple-800 hover:border-purple-800;
}

.header-btn {
  @apply ml-2 py-1 px-3 border-2 rounded-full border-indigo-600 text-indigo-600 hover:text-white hover:bg-indigo-800 focus:outline-none focus:ring focus:ring-violet-300;
}

@layer components {
  .pagination-item {
    @apply inline-block py-1 px-3 border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700;
  }
}

.footer-link {
  @apply inline-block text-gray-500 py-2 hover:underline decoration-gray-700 underline-offset-2;
}
